/* Search input */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/*  */

.item_image{
    width: 150px;
    height: 150px;
}
.item_image_detail{
    width: 200px;
    height: 200px;
}
.item_name{
	font-size: 24px;
	margin-bottom: 20px;
}
.price{
	margin: 20px auto;
	font-size: 18px;
}
.buttonInfo{
	width: 75%;
}
.category-head{
	font-size: 30px;
	text-align: center;
}
.category, .menu{
    list-style: none;
    font-size: 18px;
}